{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block css %}
<link rel="stylesheet" href="{% static 'details.css' %}">{% endblock css %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class=" container w-50 mt-2 message">

</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <img src="{{property.thumbnail.url}}" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Address:</b> {{property.location.address_1}} {{property.location.address_2}}
                    {{property.location.address_3}} {{property.location.address_4}}</p>
                <p><b>Details:</b> {{property.dimensions.beds}} bed(s) - {{property.dimensions.baths}} bath(s) -
                    {{property.dimensions.garage}} garage(s)</p>
            </div><!-- / project-info-box -->

        </div><!-- / column -->
        <div class="col-md-5">
            <div class="container w-50 mb-5">
                <form method="POST" id="add_wishlist">
                    {% csrf_token %}
                    <input type="hidden" value="{{property.id}}" id="id" />
                    <button type="submit" class="btn btn-outline-success w-100 mb-2">Wishlist</button>
                </form>
                {% if user.is_superuser %}
                <a href="{% url 'addImages' property.id %}"><button class="btn btn-outline-success w-100">Add
                        image</button></a>
                {% endif %}
            </div>
            <div class="project-info-box mt-0">
                <h5>PROJECT DETAILS</h5>
                <p class="mb-0">{{property.desc}}</p>
            </div><!-- / project-info-box -->
            <p><b>ID:</b> {{property.id}}</p>
            <div class="project-info-box">
                <p><b>Price:</b> {{property.price|intword}}</p>
                <p><b>Type:</b> {{property.prop_type|title}}</p>
                <p><b>Area: </b> {{property.dimensions.area}} sq ft.</p>
                <p><b>Lot Area: </b> {{property.dimensions.lot_area}} sq ft.</p>
                <p><b>Year built:</b> {{property.year_built}}</p>
                <p><b>City(Pincode):</b> {{property.location.city}}({{property.location.pincode}})</p>
                <p><b>Ownership: </b> {{property.own_type|title}}</p>

            </div><!-- / project-info-box -->
        </div><!-- / column -->


    </div>
    <div class="row mb-5">
        <div id="myCarousel" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                {% for picture in pictures %}
                <button type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="height: 50rem;" src="{{property.thumbnail.url}}" alt="...">
                </div>
                {% for picture in pictures %}
                <div class="carousel-item">
                    <img style="height: 50rem;" src="{{picture.image.url}}" alt="...">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#add_wishlist').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission

            $.ajax({
                type: 'POST',
                url: '{% url "wishlist" %}', // The URL to the Django view
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    id: $('#id').val()
                }, // Serialize form data
                success: function (response) {
                    console.log(response)
                    $('.message').html(`
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>${response}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
                        `); // Display response message
                },
                error: function (xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
        });
    }); 
</script>

{% endblock %}